.link__button{
    display: block;
    padding: 7px 20px;
    border: 2px solid #000;
    border-radius: 3px;
    text-decoration: none;
    color: #000;
}

.button{
    padding: 7px 20px;
    border: 2px solid #000;
    border-radius: 3px;
    cursor: pointer;
}

.cancel-btn{
    border: 2px solid #4A4B4D;
    background: none;
    color: #4A4B4D;
    font-weight: 600;
}

.primary-btn{
    border: 2px solid #187FF5;
    background-color: #187FF5;
    color: #fff;
}

.input__container{
    position: relative;
}

.input__container input[type="text"],
.input__container input[type="password"]{
    width: 100%;
    padding: 7px 10px;
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 15px;
    outline: none;
}

.input__container .warning{
    margin: 5px 0 0 5px;
    font-size: 14px;
    color: red;
}

.circular__profile{
    background-color: gainsboro;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}




/*----- NOTIFICATION CONTAINER STARTS -----*/

.notification__container{
    position: absolute;
    top: 30px;
    left: 50%;
    padding: 15px 30px;
    width: fit-content;
    display: none;
    border-radius: 5px;
    color: #333;
    font-weight: 600;
    transform: translate(-50%, 0);
    animation: slide-in .2s ease-out, fade-out .5s ease-out 1.5s;
    animation-fill-mode: forwards;
}

.success__notification{
	display: block;
	background-color: #E0F8D8;
	border: 2px solid #98FB98;
}

@keyframes slide-in {
    from { top: 10px }
    to { top: 30px }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

/*----- NOTIFICATION CONTAINER ENDS -----*/


/*----- POPUP CONTAINER STARTING -----*/

.popup{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(147, 146, 149, 0.3);
    display: none;
}

.popup .popup__content{
    width: 350px;
    padding: 25px;
    border-radius: 5px;
    background-color: #fff;
}

.popup .popup__content .popup__heading{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.popup .popup__content .btn__container{
    margin-top: 40px;
    display: flex;
    justify-content: end;
    gap: 15px;
}

/*----- POPUP CONTAINER ENDS -----*/


